*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'poppins';
}
#header-area {
    background-color: #f0fff0;
}.main-logo {
    max-width: 20%;
}
ul li a {
    text-transform: uppercase;
}
.sign-in-btn {
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    padding: 8px 30px;
    background: #21B573;
    color: #fff;
}
h6 {
    color: #FD511A;
}
h1 .header-text-color {
    color: #21B573;
}
p {
    color: 	#585858;
}
.get-started-btn {
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
    background-color: #21B573;
}
.get-started-btn:hover {
    text-decoration: none;
}
.content-area {
    padding: 100px 0;
}
.main-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}
.heading-text {
    margin: 20px 0;
}
#students-area {
    padding: 40px 0;
}
.student {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background-color: #f8fffb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.student img {
    width: 66px;
    height: 78px;
    margin-bottom: 15px;
}
.student:hover {
    background-color: #fff;
    transition: 0.3s;
    box-shadow: 10px 10px 10px lightgray;
}
.course-header-text {
    text-align: center !important;
    font-weight: 700;
    font-size: 36px;
   padding-bottom: 40px;
    color: #413960;

}
.card-footer p {
    color: #585859;
}
.card {
    border: 1px solid rgba(211, 211, 211, 0.349);
    border-radius: 20px;
}
.card:hover {
    transition: .3s;
    box-shadow: 10px 10px 10px #aeaeae;
}
.card .card-img-top {
    border-radius: 20px;
    padding: 20px;
}
.card-footer {
    border-top: none;
    background-color: rgba(0,0,0,0);
}
#testimonial-area {
    padding-top: 40px;
}
.testimonial-img img {
    width: 75%;
}
.testimonial-text p {
    padding-top: 80px;
}
#footer-area {
    color: #fff;
    background-color: #252831;
    margin-top: 40px;
    padding: 40px 0;
}
#footer-area p {
    color: #fff;
}
#footer-area ul li a{
    color: #fff;
    text-transform: capitalize;
}
#footer-area ul li a:hover {
    text-decoration: none;
    color: #aeaeae;
}
.copy-rights p{
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: -40px;
}
@media only screen and (min-width: 320px) and (max-width: 576px) { 
    .main-logo {
        max-width: 100px;
    }
    .content-area {
        padding: 40px 0;
    }
    .content-area .content {
        display: flex;
        flex-direction: column-reverse;
    }
    .header-img {
        padding-bottom: 40px;
    }
    .main-heading {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
    }
    .heading-text {
        margin: 20px 0;
    }
    .student {
        width: 100%;
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
        box-shadow: none;
    }
    .testimonial-img img {
        width: 200px;
        padding: relative;
        left: 100px;
    }
}